/* CSS Geral */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body_img {
    background-image: url("backgroundK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}

.cabecalho {
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.rodape {
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    
}

.logo a img {
    width: 80px;
}

.logo a span {
    letter-spacing: 3px;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 30px;
    font-size: larger;

}

ul li a {
    color: white;
    text-decoration: none;
   
    letter-spacing: 3px;
}

ul li a:hover {
    font-size: 25px;
    color: rgb(49, 172, 0);
    cursor: pointer;
}

.cabecalho span {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: xx-large;
}


/* CSS Home */

.corpo_home {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_home {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}

.desing_button {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    transition: 1s;
    font-size: 28px;
    padding: 20px;
    background-color: rgb(24, 23, 23, .3);
    border: none;
}

.desing_button a {
    color: white;
    text-decoration: none;
}

.desing_button:hover {
    font-size: 24px;
    cursor: pointer;
    
}


/* CSS Sobre */

.caixa_sobre {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    font-size: 18px;
    color: white;
}


/* CSS Portfolio */

.corpo_portfolio {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    padding: 0 100px;
}

.caixa_portfolio p {
    margin-top: -200px;
}

.button_simulador {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    transition: 1s;
    font-size: 28px;
    padding: 20px;
    background-color: rgb(24, 23, 23, .3);
    border: none;   
}

.button_simulador a {
    color: white;
    text-decoration: none;
}

.button_simulador:hover {
    font-size: 24px;
    cursor: pointer;   
}


/* CSS Simulador */

.corpo_simulador {
    width: 100%;
    height: 100%;
    margin: 0;
}

.caixa_simulador {
    background-color: rgba(0, 0, 0, .6);
    height: 630px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -250px;
    border-radius: 15px;
}

.caixa_simulador img {
    height: 140px;
    margin-left: 180px;
    margin-top: 5px;
}

.caixa_simulador input {
    border-color: white;
    background-color: transparent;
    color: white;
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.caixa_simulador button {
    background-color: green;
    color: white;
    height: 60px;
    width: 177px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.div_msg {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

::placeholder {
    color: white;
}

.button_result {
    background-color: rgb(2, 43, 2);
}


/* CSS Contato */

.caixa_contato {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    font-size: 20px;
    color: white;
}


/* CSS Log In */

.caixa_log_in {
    background-color: rgba(0, 0, 0, .6);
    height: 550px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 30px;
    color: white;
    padding: 0 30px;
}

.caixa_log_in img {
    margin-top: 30px;
    height: 120px;
}

.img_login {
    text-align: center;
}

.caixa_log_in input:not([type="checkbox"]) {
    background-color: rgba(139, 139, 139, 0.1);
    color: white;
    height: 30px;
    width: -webkit-fill-available;
    border-radius: 15px;
    margin-bottom: 20px;
}

.caixa_log_in button {
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: green;
    color: white;
    font-size: 25px;
}

.caixa_log_in p {
    font-size: 14px;
}

.button_login {
    text-align: center;
}

.rodape_caixa {
    text-align: center;
}

.lembrar_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}